# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

shopmall-common/target/
shopmall-coupon-service/target/
shopmall-gateway/target/
shopmall-order-service/target/
shopmall-product-service/target/
shopmall-user-service/target/
